<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>Index</title>
    <style type="text/css">
    body {
        color: blue;
    }
    </style>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script>
        var socket = io.connect()

        socket.on('message', function(data) {
            console.log(arguments);
            console.log("got message: "+data);
            var p = document.createElement('p');
            p.innerHTML = data;
            document.querySelector('body').appendChild(p);
            // socket.emit("message", "Hello");
        });

        socket.emit("message", "Hello");
    </script>
</head>
<body>

{{ time|printtime }}

</body>
</html>
